---
layout: layouts/base.njk
pageCSS: "novel-eplist.css"
---

<main class="main-content">
<div class="container list-page-container">
    <header class="list-header">
        <h1>{{ title }}</h1>
        {# description という変数が定義されていれば表示する #}
        <div class="list-description">
            {# フロントマターの description を表示させる #}
            {% if description %}
                {{ description | safe }}
            {% else %}
                <p>作品紹介は準備中です。</p>
            {% endif %}
        </div>
    </header>

    <div class="episode-list">
        {# Python側で作った <ul> <li>...</li> </ul> がここにガバッと入ります #}
        {{ content | safe }}
    </div>


        {# 戻るボタンエリア #}
    <nav class="list-navigation">
        <a href="https://suzupuyo.github.io/suiso_kabubatake/novel-index.html" class="btn-back">タイトルリストへ戻る</a>
    </nav>

</div>
</main>