---
layout: layouts/base.njk
title: Story List
pageCSS: "novel-list.css"
permalink: "/novel-index.html"
---

<main class="main-content">
<div class="container">
    <header class="list-header">
        <h1><span class="marker">　{{ title }}　</span></h1>
        <p>定期ゲーの日記ログなど書いたものたち。</p>
    </header>

    <div class="series-list">
{#  
        <article class="series-card">
            <a href="/novel/sampleAAA/index.html">
                <div class="series-info">
                    <h3>test(sampleAAA)</h3>
                    <p>これは雛形</p>
                </div>
                <span class="view-episodes">Go →</span>
            </a>
        </article>
#}

        <article class="series-card">
            <a href="/diary377/" target="_blank">
                <div class="series-info">
                    <h3>暗夜迷宮：作戦番号三七七</h3>
                    <p>臆病な退魔師、霊山珠緒の物語</p>
                </div>
            </a>
        </article>


        <article class="series-card">
            <a href="/novel/Stella-Board_V1_summer/index.html">
                <div class="series-info">
                    <h3>Stella Board V1.0 -summer-</h3>
                    <p>Eno.461 ドラゴンファイター<br>ゲームの世界にアバター体で入り込んだ、ある青年の記録</p>
                </div>
            </a>
        </article>

    </div>
</div>
</main>